{{#username}}
<h1>Name: {{.}}</h1>
{{/username}}

<form class="" action="/createMessage" method="post">
  <label for="message_box">create message</label><br>
  <textarea name="message_box" rows="8" cols="80"></textarea>
<button type="submit">create post</button>
</form>
