<h1>This page is working as well !</h1>
<form class="" action="index.html" method="post">
  <input type="text" name="username" value=""  placeholder="UserName">
  <br>
  <input type="text" name="password" value="" placeholder="Password">
</form>
<br>
<p>Not a user? <a href="/signUp">Click Here</a> to sign up and get crackin!</p>
