<h1>This page is working as well !</h1>
<form class="logIn" action="/logMeIn" method="post">
  <input type="text" name="username" value=""  placeholder="UserName">
  <br>
  <input type="text" name="password" value="" placeholder="Password">
  <br>
  <button type="submit" name="submitButton">Login</button>
</form>
<br>
<p>Not a user? <a href="/signUp">Click Here</a> to sign up and get crackin!</p>
