<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Favorite Page !</title>
  </head>
  <body>
    <div>
      <nav>
        <a href="/login">Let's Log You In</a>
        <a href="/comment">Leave a message</a>
      </nav>
    </div>
  {{{yield}}}
  <br>
  <footer>

      <a href="/logout">Logout</a>

</footer>
  </body>
</html>
