
    <h1>Welcome ! Let's get you signed up so you can start messaging other users :)</h1>

    <div id="Form_1_Div">
      <form id="SignUpForm" action="/signUp" method="post">
          {{#errors}}
          <p>{{.}}</p>
          {{/errors}}
        <input type="text" name="NewUsername" placeholder="Username">
        <br>
        <br>
        <input type="password" name="NewPassword" placeholder="Password">
        <br>
        <br>
        <button type="submit" name="button">Submit !</button>
      </form>
    </div>
