
    <h1>Welcome ! Let's get you signed up so you can start messaging other users :)</h1>

    <div id="Form_1_Div">
      <form id="SignUpForm" action="/signUp" method="post">
        <input type="text" name="NewUsername" placeholder="Username">
        <br>
        <br>
        <input type="text" name="NewPassword" placeholder="Password">
        <br>
        <br>
        <button type="submit" name="button">Submit !</button>
      </form>
    </div>
