<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Welcome ! Lets get you signed up so you can start messaging other users :)</h1>

    <div id="Form_1_Div">
      <form id="SignUpForm" action="/main" method="post">

      </form>
    </div>
  </body>
</html>
