<h2>Welcome to the User's Page.</h2>
<h2>This is where we share their thoughts on just about anything.</h2>
<p>Please be respectful of everyone or you may get banned, which would suck !
<br>
Feel free to leave a comment or "like" someone elses. Have fun !</p>

<br>

<form class="" action="" method="post">

</form>
