<h2>Welcome to the User's Page.</h2>
<h2>This is where we share their thoughts on just about anything.</h2>
<p>Please be respectful of everyone or you may get banned, which would suck !
<br>
Feel free to leave a comment or "like" someone elses. Have fun !</p>


<div class="userPage">
{{#username}}
<h1>Signed in as: {{.}}</h1>
{{/username}}

<h1>posts</h1>

{{#post}}
<div class="message_area">
<p>message by: {{the_user}}</p>
<p>{{body}}</p>
{{#can_delete}}
<form action="/{{id}}/delete" method="post">
  <button type="submit" name="button">Delete</button>
</form>
{{/can_delete}}

<form action="/{{id}}/like" method="post">
  <button type="submit" name="button">like</button>
</form>

<form action="/{{id}}/wholiked" method="post">
  <p><button type="submit" name="button">likes:</button>{{likes}}</p>
</form>
</div>
{{/post}}
</div>
